<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--class name="javasamplestest.TestAddNumbers"/>
      <class name="javasamplestest.TestSubtractNumbers"/>
      <class name="javasamplestest.TestCalculateMax"/>
      <class name="javasamplestest.TestSwapTwoNumbers"/-->
      <class name="seleniumjava.Test1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
